/WebSocketServer/.vs/ProjectEvaluation/websocketserver.metadata.v10.bin
/WebSocketServer/.vs/ProjectEvaluation/websocketserver.projects.v10.bin
/WebSocketServer/.vs/ProjectEvaluation/websocketserver.strings.v10.bin
/WebSocketServer/.vs/WebSocketServer/config/applicationhost.config
/WebSocketServer/.vs/WebSocketServer/CopilotIndices/18.3.511.5503/CodeChunks.db
/WebSocketServer/.vs/WebSocketServer/CopilotIndices/18.3.511.5503/SemanticSymbols.db
/WebSocketServer/.vs/WebSocketServer/DesignTimeBuild/.dtbcache.v2
/WebSocketServer/.vs/WebSocketServer/FileContentIndex/36a980ff-2b69-4a70-a090-19a8f1f9219a.vsidx
/WebSocketServer/.vs/WebSocketServer/FileContentIndex/8bcff5be-4225-43ae-b82c-b6b404fe7768.vsidx
/WebSocketServer/.vs/WebSocketServer/FileContentIndex/c15a4aa2-0636-4dca-9e62-5642a17d0a9e.vsidx
/WebSocketServer/.vs/WebSocketServer/FileContentIndex/d828434d-ea97-4caf-90bb-e5005c4ae168.vsidx
/WebSocketServer/.vs/WebSocketServer/FileContentIndex/ef520f69-557c-405a-825b-ffbedd92c13e.vsidx
/WebSocketServer/.vs/WebSocketServer/v18/.futdcache.v2
/WebSocketServer/.vs/WebSocketServer/v18/.suo
/WebSocketServer/.vs/WebSocketServer/v18/DocumentLayout.backup.json
/WebSocketServer/.vs/WebSocketServer/v18/DocumentLayout.json
/WebSocketServer/bin/Debug/net10.0/appsettings.Development.json
/WebSocketServer/bin/Debug/net10.0/appsettings.json
/WebSocketServer/bin/Debug/net10.0/Newtonsoft.Json.dll
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.deps.json
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.dll
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.exe
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.pdb
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.runtimeconfig.json
/WebSocketServer/bin/Debug/net10.0/WebSocketServer.staticwebassets.endpoints.json
/WebSocketServer/obj/Debug/net10.0/ref/WebSocketServer.dll
/WebSocketServer/obj/Debug/net10.0/refint/WebSocketServer.dll
/WebSocketServer/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/WebSocketServer/obj/Debug/net10.0/ApiEndpoints.json
/WebSocketServer/obj/Debug/net10.0/apphost.exe
/WebSocketServer/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/WebSocketServer/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/WebSocketServer/obj/Debug/net10.0/rpswa.dswa.cache.json
/WebSocketServer/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/WebSocketServer/obj/Debug/net10.0/staticwebassets.build.json
/WebSocketServer/obj/Debug/net10.0/staticwebassets.build.json.cache
/WebSocketServer/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/WebSocketServer/obj/Debug/net10.0/staticwebassets.removed.txt
/WebSocketServer/obj/Debug/net10.0/swae.build.ex.cache
/WebSocketServer/obj/Debug/net10.0/WebSocke.8674E6E9.Up2Date
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.AssemblyInfo.cs
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.AssemblyInfoInputs.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.assets.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.csproj.AssemblyReference.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.csproj.BuildWithSkipAnalyzers
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.csproj.CoreCompileInputs.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.csproj.FileListAbsolute.txt
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.dll
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.GeneratedMSBuildEditorConfig.editorconfig
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.genruntimeconfig.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.GlobalUsings.g.cs
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.MvcApplicationPartsAssemblyInfo.cache
/WebSocketServer/obj/Debug/net10.0/WebSocketServer.pdb
/WebSocketServer/obj/project.assets.json
/WebSocketServer/obj/project.nuget.cache
/WebSocketServer/obj/WebSocketServer.csproj.nuget.dgspec.json
/WebSocketServer/obj/WebSocketServer.csproj.nuget.g.props
/WebSocketServer/obj/WebSocketServer.csproj.nuget.g.targets
/SignaRServer/bin/Debug/net10.0/appsettings.Development.json
/SignaRServer/bin/Debug/net10.0/appsettings.json
/SignaRServer/bin/Debug/net10.0/Newtonsoft.Json.dll
/SignaRServer/bin/Debug/net10.0/SignaRServer.deps.json
/SignaRServer/bin/Debug/net10.0/SignaRServer.dll
/SignaRServer/bin/Debug/net10.0/SignaRServer.exe
/SignaRServer/bin/Debug/net10.0/SignaRServer.pdb
/SignaRServer/bin/Debug/net10.0/SignaRServer.runtimeconfig.json
/SignaRServer/bin/Debug/net10.0/SignaRServer.staticwebassets.endpoints.json
/SignaRServer/.vs/SignaRServer/DesignTimeBuild/.dtbcache.v2
/SignaRServer/.vs/SignaRServer/FileContentIndex/79ca4d22-b7c4-4916-ab02-4e064d48aabd.vsidx
/SignaRServer/.vs/SignaRServer/v18/.suo
/SignaRServer/obj/Debug/net10.0/ref/SignaRServer.dll
/SignaRServer/obj/Debug/net10.0/refint/SignaRServer.dll
/SignaRServer/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/SignaRServer/obj/Debug/net10.0/apphost.exe
/SignaRServer/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/SignaRServer/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/SignaRServer/obj/Debug/net10.0/rpswa.dswa.cache.json
/SignaRServer/obj/Debug/net10.0/SignaRSe.B3EBE627.Up2Date
/SignaRServer/obj/Debug/net10.0/SignaRServer.AssemblyInfo.cs
/SignaRServer/obj/Debug/net10.0/SignaRServer.AssemblyInfoInputs.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.assets.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.csproj.AssemblyReference.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.csproj.CoreCompileInputs.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.csproj.FileListAbsolute.txt
/SignaRServer/obj/Debug/net10.0/SignaRServer.dll
/SignaRServer/obj/Debug/net10.0/SignaRServer.GeneratedMSBuildEditorConfig.editorconfig
/SignaRServer/obj/Debug/net10.0/SignaRServer.genruntimeconfig.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.GlobalUsings.g.cs
/SignaRServer/obj/Debug/net10.0/SignaRServer.MvcApplicationPartsAssemblyInfo.cache
/SignaRServer/obj/Debug/net10.0/SignaRServer.pdb
/SignaRServer/obj/Debug/net10.0/SignaRServer.sourcelink.json
/SignaRServer/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/SignaRServer/obj/Debug/net10.0/staticwebassets.build.json
/SignaRServer/obj/Debug/net10.0/staticwebassets.build.json.cache
/SignaRServer/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/SignaRServer/obj/Debug/net10.0/staticwebassets.removed.txt
/SignaRServer/obj/Debug/net10.0/swae.build.ex.cache
/SignaRServer/obj/project.assets.json
/SignaRServer/obj/project.nuget.cache
/SignaRServer/obj/SignaRServer.csproj.nuget.dgspec.json
/SignaRServer/obj/SignaRServer.csproj.nuget.g.props
/SignaRServer/obj/SignaRServer.csproj.nuget.g.targets
